<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper Submission - Question Paper Tracker</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 60px;
        }

        .logo {
            float: left;

        }
        .logo img {

            margin-top: -49px;
            max-width: 120px;
            height: auto;
            margin-left: 12%;
        }

        h2 {
            padding-left: 20px;
            font-size: 1.7rem;
            margin-top: 10px;
            margin-left: 9%;
        }

        main {
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 140px);
        }

        .submission-container {
            max-width: 500px;
            margin-right: -3%;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="password"],
        input[type="select"],
        select {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
        }

        .password-warning {
            color: red;
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }

        button:hover {
            background-color:  #0056b3;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .footer-links a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        i{
            font-size: 40px;
            width: 90px;
            height: 50px;
            color: white;
        }

    </style>
</head>
<body>
<header>
    <div class="logo">
        <img src="/image/logo.png" alt="Question Paper Tracker">
    </div>
    <h2>New Professor Registration</h2>
</header>
<main>
    <div class="submission-container">
        <h3>Register the Professor</h3>
        <form id="registrationForm" method="post" action="/profSave">
            <input type="text" placeholder="Name" required name="profName">
            <input type="email" placeholder="Email" required name="profEmail">
            <input type="tel" placeholder="Employee ID" required maxlength="5" name="profID">
            <select name="profGender" id="gender" required >
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="other">Other</option>
            </select>
            <input type="text" placeholder="Professor's Subject" name="profSub" required>
            <input type="password" placeholder=" Create Password" required id="profpass" name="profpass" >
            <div id="passwordWarning" class="password-warning"></div>
            <input type="password" placeholder=" Confirm Password" required id="profCpass" name="profCpass" >
            <div id="confirmPasswordWarning" class="password-warning"></div>
            <button type="submit">Register</button>
        </form>
    </div>
</main>
<footer>
    <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="social-icons">
        <!-- Social media icons -->
        <a href="https://www.facebook.com/adamasuniversitywestbengal/"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://twitter.com/AdamasUniversi1"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.linkedin.com/school/adamas-university/"><i class='bx bxl-linkedin' ></i></a>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const passwordInput = document.getElementById("profpass");
    const confirmPasswordInput = document.getElementById("profCpass");
    const passwordWarning = document.getElementById("passwordWarning");
    const confirmPasswordWarning = document.getElementById("confirmPasswordWarning");
    const registrationForm = document.getElementById("registrationForm");

    passwordInput.addEventListener("input", function() {
        if (passwordInput.value.length < 8) {
            passwordWarning.textContent = "Password must be at least 8 characters long";
        } else {
            passwordWarning.textContent = "";
        }
    });

    registrationForm.addEventListener("input", function(event) {
        if (passwordInput.value !== confirmPasswordInput.value) {
            event.preventDefault();
            confirmPasswordWarning.textContent = "Passwords do not match";
        } else {
            confirmPasswordWarning.textContent = "";
        }
    });
    });
</script>

</body>
</html>
